.todo-table {
    .width-150 {
        width: 150px;
    }
    .width-100 {
        width: 100px;
    }
    .width-50 {
        width: 50px;
    }
    th {
        font-size: 18px;
        background: transparent;
    }
    td {
            align-content: center;
    }
    input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }
.todo-text {
    text-align: center;
}
    tr.active {
        td {
            --bs-table-bg-type: #d1e7dd;
        }
        .todo-text {
                text-decoration: line-through;
        }
    }
    .form-check-input{
        box-shadow: none;
    }

    .btn.save,
    .todo-update {
        display: none;
    }
    .edit-todo {
        .btn.edit,
        .todo-text {
            display: none;
        }
        .btn.save,
        .todo-update {
            display: block;
        }
    }
}

.todo-container {
    padding-top: 50px;
    text-align: left;
}
.navbar {
    border-bottom: 1px solid #111;
}